{% extends 'base.html'%}
{% load static %}
{% block title%}article{% endblock title%}

{% block body %}

  <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h2 class="text-white animated slideInDown">Nom de l'article</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                
              <section id="main-container" class="main-container">
                <div class="container">
                  <div class="row">
              
                    <div class="col-lg-8 mb-5 mb-lg-0">
              
                      <div class="post-content post-single">
                        <div class="post-media post-image">
                          <img loading="lazy" src="img/ELECTRICITE.jpg" class="img-fluid" alt="post-image">
                        </div>
              
                        <div class="post-body">
                          <div class="entry-header">
                            <div class="post-meta">
                              <span class="post-author">
                                <i class="far fa-user"></i><a href="#"> Admin</a>
                              </span>
                              <span class="post-cat">
                                <i class="far fa-folder-open"></i><a href="#"> News</a>
                              </span>
                              <span class="post-meta-date"><i class="far fa-calendar"></i> Juin 14, 2016</span>
                              <span class="post-comment"><i class="far fa-comment"></i> 03<a href="#"
                                  class="comments-link">Commentaires</a></span>
                            </div>
                            <h2 class="entry-title color-text">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit
                            </h2>
                          </div><!-- header end -->
              
                          <div class="entry-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                              ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                              fugiat nulla pariatur.</p>
              
                            <p>Kucididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur Lorem ipsum dolor sit amet, consectetur
                              adipisicing elit, sed do</p>
              
                            <p>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                              reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                              cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut
                              perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. </p>
              
                            <blockquote>
                              <p>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.<cite>-
                                  Anger Mathe</cite></p>
              
                            </blockquote>
              
                            <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                              sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                              consequuntur magni dolores eos quira tione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                              dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
                              incidunt ue magnam aliquam quaerat voluptatem.</p>
                          </div>
              
                          <div class="tags-area d-flex align-items-center justify-content-between">
                            <div class="post-tags">
                              
                            </div>
                            <div class="share-items">
                              <ul class="post-social-icons list-unstyled">
                                <li class="social-icons-head">Share:</li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                              </ul>
                            </div>
                          </div>
              
                        </div><!-- post-body end -->
                      </div><!-- post content end -->
              
                      <div class="comments-form border-box">
                        <h3 class="title-normal">Ajouter un commentaire</h3>
              
                        <form role="form">
                          <div class="row">
                          
              
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="name"><input class="form-control" name="name" id="name" placeholder="Votre Nom" type="text" required></label>
                              </div>
                            </div><!-- Col 4 end -->
              
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="email"><input class="form-control" name="email" id="email" placeholder="Votre Email" type="email" required></label>
                              </div>
                            </div>
              
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="website"><input class="form-control" id="website" placeholder="Votre SiteWeb" type="text" required></label>
                              </div>
                            </div>

                          
              
                          </div><br>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="message"><textarea class="form-control required-field" id="message" placeholder="Votre  Commentaire" rows="4" cols="89" required></textarea></label>
                              </div>
                            </div>
                          </div>
                          <div class="clearfix">
                            <button class="btn btn-prim" type="submit" aria-label="post-comment">Envoyer</button>
                          </div>
                        </form><!-- Form end -->
                      </div><!-- Comments form end -->
                    </div><!-- Content Col end -->
                    <div class="col-lg-4 order-1 order-lg-0">
                
                      <div class="sidebar sidebar-left">
                        <div class="widget recent-posts">
                          <h3 class="widget-title">DERNIERS ARTICLES</h3>
                          <ul class="list-unstyled">
                            <li class="d-flex align-items-center">
                              <div class="posts-thumb">
                                <a href="#"><img loading="lazy" alt="img" src="img/ELECTRICITE.jpg"></a>
                              </div>
                              <div class="post-info">
                                <h4 class="entry-title">
                                  <a href="article.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</a>
                                </h4>
                              </div>
                            </li><!-- 1st post end-->
              
                            <li class="d-flex align-items-center">
                              <div class="posts-thumb">
                                <a href="#"><img loading="lazy" alt="img" src="img/ELECTRONIQUE.jpg"></a>
                              </div>
                              <div class="post-info">
                                <h4 class="entry-title">
                                  <a href="article.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</a>
                                </h4>
                              </div>
                            </li><!-- 2nd post end-->
              
                            <li class="d-flex align-items-center">
                              <div class="posts-thumb">
                                <a href="#"><img loading="lazy" alt="img" src="img/MECANIQUE AUTO.jpg"></a>
                              </div>
                              <div class="post-info">
                                <h4 class="entry-title">
                                  <a href="article.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</a>
                                </h4>
                              </div>
                            </li><!-- 3rd post end-->
              
                          </ul>
              
                        </div><!-- Recent post end -->
              
                        <div class="widget">
                          <h3 class="widget-title">CATÉGORIES</h3>
                          <ul class="arrow nav nav-tabs">
                            <li><a href="#">Construction</a></li>
                            <li><a href="#">Commerciale</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Sécurité</a></li>
                            <li><a href="#">Structure</a></li>
                          </ul>
                        </div><!-- Categories end -->
              
                        <div class="widget">
                          <h3 class="widget-title">Archives </h3>
                          <ul class="arrow nav nav-tabs">
                            <li><a href="#">Février 2023</a></li>
                            <li><a href="#">Janvier 2023</a></li>
                            <li><a href="#">Decembre 2022</a></li>
                            <li><a href="#">Novembre 2021</a></li>
                            <li><a href="#">Octobre 2020</a></li>
                          </ul>
                        </div><!-- Archives end -->
              
                        
              
                      </div><!-- Sidebar end -->
                    </div><!-- Sidebar Col end -->
                    
              
                  </div><!-- Main row end -->
              
                </div><!-- Conatiner end -->
              </section><!-- Main container end -->
    
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% endblock body %}