{% extends 'base.html'%}
{% load static %}
{% block title%}Realisation{% endblock title%}

{% block body %}
    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Nos Infrastructures</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href={% url 'appSalama:home'%}>Accueil</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Realisations</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
              <!-- Blog Section Begin -->
              <section class="blog-section spad">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="blog-item overflow-hidden">
                                        
                                        <img class="" src={% static "appSalama/img/ELECTRONIQUE.jpg" %} alt="" width="100%" height="100%">
                                        
                                        <h1 class="bi-tag bg-gradient text-light">Electronique</h1>
                                            
                                        <div class="bi-text">
                                            <h5 ><a href="realisation.html" class="text-light">Is the Detel Posh a Posh Speaker?</a></h5>
                                            <span class="text-light"><i class="fa fa-clock-o text-light"></i > 19th May, 2019</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="blog-item overflow-hidden">
                                        
                                        <img class="" src={% static "appSalama/img/ELECTRONIQUE.jpg" %} alt="" width="100%" height="100%">
                                        
                                        <h1 class="bi-tag bg-gradient text-light">Electronique</h1>
                                            
                                        <div class="bi-text">
                                            <h5 ><a href="realisation.html" class="text-light">Is the Detel Posh a Posh Speaker?</a></h5>
                                            <span class="text-light"><i class="fa fa-clock-o text-light"></i > 19th May, 2019</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-item overflow-hidden large-item">
                                        
                                <img class="" src={% static "appSalama/img/ELECTRONIQUE.jpg" %} alt="" width="100%" height="100%">
                                
                                <h1 class="bi-tag bg-gradient text-dark" style="">Electronique</h1>
                                    
                                <div class="bi-text">
                                    <h5 ><a href="realisation.html" class="text-dark">Is the Detel Posh a Posh Speaker?</a></h5>
                                    <span class="text-light"><i class="fa fa-clock-o text-dark"></i > 19th May, 2019</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="blog-item overflow-hidden">
                                        
                                        <img class="" src={% static "appSalama/img/ELECTRONIQUE.jpg" %} alt="" width="100%" height="100%">
                                        
                                        <h1 class="bi-tag bg-gradient text-light">Electricite</h1>
                                            
                                        <div class="bi-text">
                                            <h5 ><a href="realisation.html" class="text-light">Is the Detel Posh a Posh Speaker?</a></h5>
                                            <span class="text-light"><i class="fa fa-clock-o text-light"></i > 19th May, 2019</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="blog-item overflow-hidden">
                                        
                                        <img class="" src={% static "appSalama/img/ELECTRONIQUE.jpg" %} alt="" width="100%" height="100%">
                                        
                                        <h1 class="bi-tag bg-gradient text-light">Electronique</h1>
                                            
                                        <div class="bi-text">
                                            <h5 ><a href="realisation.html.html" class="text-light">Is the Detel Posh a Posh Speaker?</a></h5>
                                            <span class="text-light"><i class="fa fa-clock-o text-light"></i > 19th May, 2019</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="blog-item overflow-hidden large-item">
                                        
                                <img class="" src={% static "appSalama/img/ELECTRONIQUE.jpg" %} alt="" width="100%" height="100%">
                                
                                <h1 class="bi-tag bg-gradient text-light">Electronique</h1>
                                    
                                <div class="bi-text">
                                    <h5 ><a href="realisation.html" class="text-light">Is the Detel Posh a Posh Speaker?</a></h5>
                                    <span class="text-light"><i class="fa fa-clock-o text-light"></i > 19th May, 2019</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="blog-item overflow-hidden">
                                        
                                        <img class="" src={% static "appSalama/img/ELECTRONIQUE.jpg" %} alt="" width="100%" height="100%">
                                        
                                        <h1 class="bi-tag bg-gradient text-light">Electronique</h1>
                                            
                                        <div class="bi-text">
                                            <h5 ><a href="realisation.html" class="text-light">Is the Detel Posh a Posh Speaker?</a></h5>
                                            <span class="text-light"><i class="fa fa-clock-o text-light"></i > 19th May, 2019</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="blog-item overflow-hidden">
                                        
                                        <img class="" src={% static "appSalama/img/ELECTRONIQUE.jpg" %} alt="" width="100%" height="100%">
                                        
                                        <h1 class="bi-tag bg-gradient text-light">Electronique</h1>
                                            
                                        <div class="bi-text">
                                            <h5 ><a href="realisation.html" class="text-light">Is the Detel Posh a Posh Speaker?</a></h5>
                                            <span class="text-light"><i class="fa fa-clock-o text-light"></i > 19th May, 2019</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-item set-bg" >
                                <div class="blog-item overflow-hidden">
                                        
                                    <img class="" src={% static "appSalama/img/ELECTRONIQUE.jpg" %} alt="" width="100%" height="100%">
                                    
                                    <h1 class="bi-tag bg-gradient text-light">Electronique</h1>
                                        
                                    <div class="bi-text">
                                        <h5 ><a href="realisation.html" class="text-light">Is the Detel Posh a Posh Speaker?</a></h5>
                                        <span class="text-light"><i class="fa fa-clock-o text-light"></i > 19th May, 2019</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </section>
            <!-- Blog Section End -->
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% endblock body %}
